:root {
    --telegram-bg-color: var(--tg-theme-bg-color, #ffffff);
    --telegram-text-color: var(--tg-theme-text-color, #000000);
    --telegram-hint-color: var(--tg-theme-hint-color, #707579);
    --telegram-link-color: var(--tg-theme-link-color, #3390ec);
    --telegram-button-color: var(--tg-theme-button-color, #3390ec);
    --telegram-button-text-color: var(--tg-theme-button-text-color, #ffffff);
    --telegram-secondary-bg-color: var(--tg-theme-secondary-bg-color, #f4f4f5);
}

.btn-primary,
button {
    border: none;
    background-color: var(--telegram-button-color);
    color: var(--telegram-button-text-color)
}

.list-header,
.main-container p {
    margin: 0 0 10px
}

.btn,
body,
button {
    font-size: 14px
}

a.list-group-item,
body,
button.list-group-item,
pre {
    color: var(--telegram-text-color)
}

pre,
ul {
    text-align: left
}

#fixed_wrap,
.viewport-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0
}

body {
    background-color: var(--telegram-secondary-bg-color);
    margin:0;
    padding:0;
}

body.gray,
section#top_sect.second {
    background-color: var(--telegram-secondary-bg-color)
}

.input[contenteditable],
input[type=text],
section#top_sect {
    background-color: var(--telegram-bg-color)
}

a {
    color: var(--telegram-link-color)
}

.btn {
    padding: 10px 17px
}

.main-container,
section {
    padding: 15px
}

button {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer
}

pre,
small {
    font-size: 12px
}

.list-header {
    text-transform: uppercase;
    font-size: .92em;
    color: var(--telegram-hint-color)
}

.hint,
li {
    color: var(--telegram-hint-color)
}

.main-container pre,
.main-container>.btn {
    margin: 0 0 7px
}

.main-container pre+.hint,
.main-container>.btn+.hint {
    text-align: center;
    margin: 0 0 15px
}

button[disabled] {
    opacity: .6;
    cursor: auto;
    pointer-events: none
}

button.close_btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    margin: 0;
    padding: 16px 20px;
    text-transform: uppercase
}

.input[contenteditable],
input[type=text] {
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    border: 1px solid var(--telegram-link-color);
    border-radius: 4px;
    color: var(--telegram-text-color);
    text-align: start
}

input[type=text]::-webkit-input-placeholder {
    color: var(--telegram-hint-color)
}

input[type=text]::-moz-placeholder {
    color: var(--telegram-hint-color)
}

input[type=text]:-ms-input-placeholder {
    color: var(--telegram-hint-color)
}

.input[data-placeholder] {
    position: relative
}

.input[data-placeholder]:empty:before {
    position: absolute;
    left: 0;
    right: 0;
    content: attr(data-placeholder);
    color: var(--telegram-hint-color);
    padding: 0 20px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
    z-index: -1
}

section {
    text-align: center;
    background-color: var(--telegram-bg-color)
}

section .sect_row {
    margin: 10px 0
}

section+section {
    padding: 0 15px 65px
}

p {
    margin: 40px 0 15px
}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 7px
}

pre {
    background: rgba(0, 0, 0, .07);
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 7px 0;
    word-break: break-word;
    white-space: pre-wrap
}

.dark pre {
    background: rgba(255, 255, 255, .15)
}

.chat_img {
    width: 30px;
    border-radius: 15px;
    margin-right: 10px
}

.columns {
    display: flex
}

.columns>* {
    flex-grow: 1
}

.hint {
    font-size: .8em
}

.ok {
    color: green
}

#errorMsg,
.err {
    color: red
}

.status_need {
    display: none
}

#fixed_wrap {
    transform: translateY(100vh)
}

.viewport-container {
    height: var(--tg-viewport-stable-height, 100vh);
    transition: height .2s
}

.viewport-container .main-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.viewport-container .main-container button {
    width: auto
}

img.logo {
    max-width: 150px;
}